@import "bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import "table.scss";
@import "charts.scss";

body {
    padding-top: 3.5rem;
}

.privacyIsActive {
    .isPrivate {
        display: none !important;
    }
}

span.indicator {
    display: none;
    width: 0;
    height: 0;
    margin: 0 0.4rem 0.1rem 0;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    vertical-align: middle;
}

.up {
    span.indicator {
        display: inline-block;
        border-bottom: 0.4rem solid $green;
    }
}

.down {
    span.indicator {
        display: inline-block;
        border-top: 0.4rem solid $red;
    }
}

.privacyButtonIcon {
    @extend .bi-eye;
}

.btn.loading {
    .bi {
        display: none;
    }

    .spinner-border {
        display: inline-block;
    }
}

.privacyIsActive {
    .privacyButtonIcon {
        @extend .bi-eye-slash;
    }
}

.nav-link {
    cursor: pointer;
}
