@import "bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import "table.scss";
@import "charts.scss";

body {
    padding-top: 3.5rem;
}

.privacyIsActive {
    .isPrivate {
        display: none !important;
    }
}

span.indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 0.4rem 0.1rem 0;
    vertical-align: middle;
    background-position: center;
}

.up {
    span.indicator {
        background: url('../images/up.svg') no-repeat;
    }

    &.strong {
        span.indicator {
            background: url('../images/double-up.svg') no-repeat;
        }
    }
}

.down {
    span.indicator {
        background: url('../images/down.svg') no-repeat;
    }

    &.strong {
        span.indicator {
            background: url('../images/double-down.svg') no-repeat;
        }
    }
}

.neutral {
    span.indicator {
        background: url('../images/neutral.svg') no-repeat;
    }
}

.help {
    cursor: help;
}

.privacyButtonIcon {
    @extend .bi-eye;
}

.btn.loading {
    .bi {
        display: none;
    }

    .spinner-border {
        display: inline-block;
    }
}

.privacyIsActive {
    .privacyButtonIcon {
        @extend .bi-eye-slash;
    }
}

.nav-link {
    cursor: pointer;
}

.form-label {
    color: $text-muted;
    margin-bottom: 0.25rem;
}
