<!DOCTYPE html>
<html>
{% include "header.html.twig" %}
<body>
<div class="container bs-docs-container">
<header class="page-header">
{% block header %}<h1>Stock Panel</h1>{% endblock %}
</header>
{% block body %}{% endblock %}
</div>
{% block bottom %}{% endblock %}
</body>
</html>
